@font-face {
  font-family: 'Nucleo';
  src: url('../../../fonts/nucleo.eot');
  src: url('../../../fonts/nucleo.eot') format('embedded-opentype'),
    url('../../../fonts/nucleo.woff2') format('woff2'),
    url('../../../fonts/nucleo.woff') format('woff'),
    url('../../../fonts/nucleo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 992px) {
  .classVisible {
    display: inline-block !important;
  }
}

.incomes {
  position: relative;
}
.incomes {
  pointer-events: all;
}
.incomes:hover:after {
  // content:'Edit';
  content: '\ea3d';
  color: var(--primary);
  font-family: 'Nucleo';
  position: absolute;
  top: -13px;
  cursor: pointer;
}
.incomes:hover:before {
  // content: 'Remove';
  content: '\ea54';
  color: var(--primary);
  font-family: 'Nucleo';
  position: absolute;
  bottom: -13px;
  left: calc(100%);
  cursor: pointer;
}

.bs-popover-top > .arrow::after {
  border-top-color: black !important;
}
.popover {
  background-color: transparent !important;
}

.formControl {
  border-color: #e14eca !important;
  transition: all 0.3s cubic-bezier(0.685, 0.0473, 0.346, 1);
  // transition: border-color 0.5s ease-in-out;
}

// input:-internal-autofill-selected {
//   background-color: transparent !important;
//   color: white !important;
// }
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 30px #1e1e2f inset !important;
  background-image: none !important;
  border: 1px solid #1e1e2f !important;
}

input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type='range']::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-upper {
  background: #367ebd;
}
// .modal-content {
//   background: linear-gradient(180deg, #222a42 0, #1d253b);
//   color: hsla(0, 0%, 100%, 0.8);
// }

.borderColor {
  &:focus {
    border: 1px solid #e14eca !important;
    outline: none;
  }
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  color: rgba(255, 255, 255, 0.8) !important;
}

.modal-search .modal-dialog .form-control {
  border: none;
  color: rgba(255, 255, 255, 0.8) !important;
}
