@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');
* {
  box-sizing: border-box;
}

// body {
//   background: #1e1e2f;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   font-family: 'Poppins', sans-serif;
//   height: 100vh;
//   margin: -20px 0 50px;
// }

h1.h1Style {
  color: white;
  font-weight: bold;
  margin: 0;
}

h2.h2Style {
  text-align: center;
}

p.paragraphStyle {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span.spanClass {
  color: white;
  font-size: 12px;
}

a.linkStyle {
  color: #e14eca;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button.buttonStyle {
  border-radius: 20px;
  border: 1px solid #e14eca;
  background-color: #e14eca;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button.buttonStyle:active {
  transform: scale(0.95);
}

button.buttonStyle:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form.formStyle {
  background-color: #1e1e2f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input.inputSyle {
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  color: white;
}

div.container {
  background-color: #1e1e2f;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.content {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  overflow: hidden !important;
  min-height: 100% !important;
  transform: rotateX(180deg);
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}
.flipped {
  transform: rotateX(180deg);
}
div.containerAmnesia {
  background-color: #1e1e2f;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // margin-right: -50%;
  // transform: translate(-50%, -50%);
  overflow: hidden !important;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 768px;
  min-width: 768px;
  height: 480px;
}

div.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

div.signInContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}

div.container.rightPanelActive div.signInContainer {
  transform: translateX(100%);
}

.signUpContainer {
  left: 0;
  width: 50%;
  // opacity: 0;
  z-index: 1;
}

.container.rightPanelActive .signUpContainer {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

// @keyframes show {
//   0%,
//   49.99% {
//     opacity: 0;
//     z-index: 1;
//   }
//   50%,
//   100% {
//     opacity: 1;
//     z-index: 5;
//   }
// }

div.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.rightPanelActive .overlayContainer {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #e14eca, #ff416c);
  background: linear-gradient(to right, #e14eca, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  // left: -100%;
  // width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .overlay {
  transform: translateX(50%);
}

.overlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlayLeft {
  transform: translateX(-20%);
}

.container.rightPanelActive .overlayLeft {
  transform: translateX(0);
}

.overlayRight {
  right: 0;
  transform: translateX(0);
}

.container.rightPanelActive .overlayRight {
  transform: translateX(20%);
}

div.socialContainer {
  margin: 20px 0;
}

div.socialContainer a {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.cardLogin,
.cardAmnesia {
  // position: absolute;
  // top: 150%;
  // left: 0%;
  z-index: 1;
  // margin: auto;
  width: 100%;
  height: 100%;
  max-width: 320px;
  // opacity: 0;
  // transform: scale(0) translate(-50%, -50%);
  // transform-origin: 0% 0% 0;
  transition: all 0.42s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.isActive {
  opacity: 1;
  transform: scale(1) translate(0%, 0%);
  transition-delay: 0.35s;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #909 !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.7) !important;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.7) !important;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.7) !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.7) !important;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(255, 255, 255, 0.7) !important;
}
